<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>购物车</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cartstyle.css') }}"/>
    <script type="text/javascript" src="static/js/cart.js"></script>

</head>

<body>
<div class="catbox">
  <table id="cartTable">
    <thead>
      <tr>
        <th><label>
            <input class="check-all check" type="checkbox"/>&nbsp;&nbsp;全选</label></th>
        <th>商品</th>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% if messages == "done" %}
		{% for item in result %}
          <tr>
            <td class="checkbox"><input class="check-one check" type="checkbox"/></td>
            <td class="goods"><span>{{ item[2] }}</span></td>
            <td class="price">{{ item[3] }}</td>
            <td class="count"><span class="reduce"></span>
              <input class="count-input" type="text" value="1"/>
              <span class="add">+</span></td>
            <td class="subtotal">{{ item[3] }}</td>
            <td class="operation"><span class="delete">删除</span></td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <div class="foot" id="foot">
    <label class="fl select-all"><input type="checkbox" class="check-all check"/>&nbsp;&nbsp;全选</label>
    <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
    <div class="fr closing" onclick="getTotal();">结 算</div>
    <input type="hidden" id="cartTotalPrice" />
    <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
    <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
    <div class="selected-view">
      <div id="selectedViewList" class="clearfix">
        <div><img src="images/res_1.jpg"><span>取消选择</span></div>
      </div>
      <span class="arrow">◆<span>◆</span></span> </div>
  </div>
</div>
</body>
</html>